@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<PageTitle>Zord.App</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        @if (!string.IsNullOrEmpty(UserName))
        {
            <a href="/admin">@UserName</a>
        }
        else
        {
            <a href="/Admin">Admin</a>
        }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public string UserName;

    protected override async Task OnInitializedAsync()
    {
        UserName = httpContextAccessor.HttpContext.User.Identity.Name;
    }
}